{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container" style="margin-top: 40px;">
    <script src="{% static 'js/script.js' %}"></script>

    <h1 class="text-center">Home</h1>
    <div class="container border rounded">
        <!-- <h4 class="pt-3">Add Password</h4> -->
        <form class="input-group pt-3" id = "AddPasswordForm" method="POST">
            {% csrf_token %}
            <input type="text" class="form-control rounded-left" name="url" maxlength="200" placeholder="URL" required id="id_url">
            <input type="text" class="form-control" name="username" maxlength="200" placeholder="Username" required id="id_username">
            <input type="password" class="form-control" name="encrypted_password" maxlength="200" placeholder="Password" required id="id_encrypted_password">
            <div class="input-group-append">
                <input type="button" id = "generatePassword" value="Generate Password" class="btn btn-outline-primary"/>
                <button type="submit" class="btn btn-success"/><i class="fa-solid fa-plus"></i></button>
            </div>
        </form>
    </div>
    <div class="container mt-3 pt-3 border rounded">
        <h2 class="text-center">Passwords</h2>
        {% for instance in object_list %}
        <form class="input-group" method="POST" action="delete/">
            {% csrf_token %}
            <input type="hidden" name = "instance_pk" id = "instance_pk" value="{{ instance.pk }}">
            <input type="hidden" name = "instance_encrypted_password" id = "instance_encrypted_password_{{ instance.pk }}" value="{{ instance.encrypted_password }}">
            <span class="input-group-text form-control">{{ instance.url }}</span>
            <span class="input-group-text form-control">{{ instance.username }}</span>
            <span class="input-group-text form-control" id = "passwordfield_{{ instance.pk }}">●●●●●●●●</span>
            <div class="input-group-append">
                <button type="button" data-pk = "{{ instance.pk }}" data-visible = "0" class="btn btn-secondary revealbtn"><i class="fa-solid fa-eye"></i></button>
                <button type="button" data-pk = "{{ instance.pk }}" class="btn btn-dark copybtn"><i class="fa-solid fa-copy"></i></button>
                <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
            </div>
        </form>
        {% endfor %}
    </div>
</div>

<script>
    let key = Cookies.get('bitvault_key');
    $('#AddPasswordForm').submit(function() {
        let storedpassword = $('#id_encrypted_password').val();
        let cipher = CryptoJS.AES.encrypt(storedpassword, key);
        $('#id_encrypted_password').val(cipher);
    });

    $('.copybtn').click(function() {
        let cipher = $('#instance_encrypted_password_'+$(this).data('pk')).attr('value');
        let pw = CryptoJS.AES.decrypt(cipher, key).toString(CryptoJS.enc.Utf8);
        navigator.clipboard.writeText(pw);
    });

    $('.revealbtn').click(function() {
        let pk = $(this).data('pk')
        if($(this).data('visible') == "1") {
            $("#passwordfield_"+pk).html('●●●●●●●●');
            $(this).data('visible', "0")
        }
        else {
            let cipher = $('#instance_encrypted_password_'+pk).attr('value');
            let pw = CryptoJS.AES.decrypt(cipher, key).toString(CryptoJS.enc.Utf8);
            console.log(pw);
            $("#passwordfield_"+pk).html(pw);
            $(this).data('visible', "1")
        }
    });

    function generatePassword() {
        var digits = "0123456789";
        var alphabets = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ";
        var specialCharacters = "!@#$%^&*()";
        var allChars = digits + alphabets +specialCharacters;
        var password = "";

        for (var i = 0; i <= 16; i++) {
            var randomNumber = Math.floor(Math.random() * allChars.length);
            password += allChars.substring(randomNumber, randomNumber +1);
        }
        return password;
    }

    $('#generatePassword').click(() => {
        let password = generatePassword();
        $('#id_encrypted_password').val(password);
    });
</script>

{% endblock %}